* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", sans-serif;
    font-size: 13px;
}

#nwg-drawer { color: #bb9af7; }
#workspaces button { color: #c0caf5; }
#workspaces button.focused { color: #7aa2f7; background: #292e3f; }

#clock, #cpu, #memory, #disk, #temperature, #battery, #bluetooth, #pulseaudio, #network {
    padding: 0 10px;
    margin: 0 2px;
    color: #c0caf5;
    background: #292e3f;
    border-radius: 6px;
}

#battery.critical { color: #f7768e; }
#custom-gamelauncher, #custom-power { color: #9d7cd8; }
#pulseaudio { color: #9ece6a; }
#network { color: #7aa2f7; }

window#waybar {
    background: #1a1b2680;
    color: #c0caf5;
}
